.dialog-buttons {
  display: flex;
  justify-content: space-between;
}

.dialog-buttons .cancel {
  background-color: rgb(199, 193, 193);
  color: rgb(0, 0, 0);
}

.dialog-buttons .reset {
  background-color: red;
  color: white;
}

.dialog-buttons button {
  border: 3px outset gray;
  padding: 4px;
  font-size: 1.5em;
  cursor: pointer;
}
